html {
	background-color: 	rgb(101,0,5);
  	font-family: HelveticaNeue;
  	font-weight:;

} 



.footer{
	background-color:rgb(202,112,28);
	color:ivory;
}

.menu-left-tab{
	color: black;
	text-align:center;
	padding-top:40px;
    background-color: rgb(220,71,33);
    font-size:20px;
    color:white;
    padding-right:20px;
}

.about-me{
	text-align:center;
	padding-top:30px;
	font-size:18px;


}